// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

#submit {
  color: grey;
  &:hover {
    color: black;
  }
}

.question-css {
  margin-left: 16px;
  padding-left: 8px;
  border-left: 3px solid grey;
}

.answer-css {
  margin-left: 16px;
  padding-left: 8px;
  border-left: 3px solid grey;
  background-color: rgba(233, 248, 147, 0.3);
  max-width: 300px;
}
